# Shortcuts in Python

- Command Mode (press Esc to enable)

F: find and replace

Ctrl-Shift-F: open the command palette

Ctrl-Shift-P: open the command palette

P: open the command palette

Enter: enter edit mode

Shift-Enter: run cell, select below

Ctrl-Enter: run selected cells

Alt-Enter: run cell and insert below

Y: change cell to code

M: change cell to markdown

R: change cell to raw

1: change cell to heading 1

2: change cell to heading 2

3: change cell to heading 3

4: change cell to heading 4

5: change cell to heading 5

6: change cell to heading 6

K: select cell above

Up: select cell above

Down: select cell below

J: select cell below

Shift-K: extend selected cells above

Shift-Up: extend selected cells above

Shift-Down: extend selected cells below

Shift-J: extend selected cells below

A: insert cell above

B: insert cell below

X: cut selected cells

C: copy selected cells

Shift-V: paste cells above

V: paste cells below

Z: undo cell deletion

D,D: delete selected cells

Shift-M: merge selected cells, or current cell with cell below if only one cell is selected

Ctrl-S: Save and Checkpoint

S: Save and Checkpoint

L: toggle line numbers

O: toggle output of selected cells

Shift-O: toggle output scrolling of selected cells

H: show keyboard shortcuts

I,I: interrupt the kernel

0,0: restart the kernel (with dialog)

Esc: close the pager

Q: close the pager

Shift-L: toggles line numbers in all cells, and persist the setting

Shift-Space: scroll notebook up

Space: scroll notebook down

# Variable Naming
- Variable names can not have spaces in between.
- They can not contain any special character except underscore [i.e. _ ]
- Variable names can not start with a number , however you can have numbers anywhere else in the variable name

Keywords cannot be used as variable name. Here is the list.

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Basic datatypes in python
- int
- float
- str             (anything written within  "  ")
- bool            ( True or False )

In [1]:
a = 10
b = "56"
c = 75.36
d = True
type(a),type(b),type(c),type(d)

(int, str, float, bool)

# Typecasting

In [2]:
a = "6"
5+a                       # this throws an error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
5 + int(a)

11

#        
# Variable assigning

In [4]:
a = 10
b = 12

# or

c,d = 10,12

# or

e,f = [10,12]

# All are same
a,b,c,d,e,f

(10, 12, 10, 12, 10, 12)

In [5]:
a,b,c = 2
a,b,c

TypeError: cannot unpack non-iterable int object

In [6]:
a,b,c = 2,2,2
a,b,c

(2, 2, 2)

In [7]:
# or this
a=b=c=3
a,b,c

(3, 3, 3)

In [8]:
# or this
a,b,c = [4]*3
a,b,c
# []- list

(4, 4, 4)

#     
# Mathematical operations

In [9]:
a = 50
b = 12
a+b,a-b,a*b,a/b,a//b,a%b          # // Quotient after division
                                  # %  remainder after division (mod)

(62, 38, 600, 4.166666666666667, 4, 2)

In [10]:
a = 5
b = 4
a**b

625

Function based numeric operations can be found in package math.e.g sin(),cos(),log().....

# Logical operation

In [11]:
x = True
y = False
x and y, x&y, x or y, x|y, not x,not y

(False, False, True, True, False, True)

In [12]:
import math as m                  # m is alias, you can give any alias
m.sin(m.radians(90))              # alias.(hit tab) - to see the list of functions in the package math

1.0

# Conditional Statement

-  "<"
-  ">"
-  "<="
-  ">="
-  "=="
-  "!="

In [13]:
1<2 & 3<4

True

In [14]:
(1>=2 or 3<4) and (1!=1)

False

# String operations

- String Replication

In [15]:
a = "Gandhi"
a * 3                    # To replicate a string

'GandhiGandhiGandhi'

- String concatenation

In [16]:
a = "Mahatma"
b = "Gandhi"
a + b, "I respect "+ a + " "+ b

('MahatmaGandhi', 'I respect Mahatma Gandhi')

- Note: Strings are immutable. eg:-

In [17]:
a[0] = "B"              # Strigs are immutable

TypeError: 'str' object does not support item assignment

- Escape sequence: These are strings that are difficult to input (\ are used to produce escape sequence)
- \n: new line
- \t: tab
- \a: alert
- \\: \

In [18]:
print("He is rude \nHuhhhh....")

He is rude
Huhhhh....

In [19]:
print("Bombay\tPune\tBanglore")

Bombay	Pune	Banglore

In [20]:
print("m\n")                          # This is not desired. TO avoid this

m

In [21]:
print(r"m\n")

m\n

# String: Indexing and Slicing

In [22]:
a = "Mahatma Gandhi"
a[0],a[2],a[0:2],a[2:10:2]                  # [a:b)

('M', 'h', 'Ma', 'htaG')

In [23]:
print("Length of a = ",len(a))
a[-1],a[-5],a[-14],a[-7:-1],a[-14:-3:2],a[::3]

Length of a =  14

('i', 'a', 'M', ' Gandh', 'MhtaGn', 'Maaah')

# String Methods

In [24]:
x = "Mumbai"
y = "Banglore"
s = x + " to " +y
print(s)

Mumbai to Banglore

- upper, lower, capitalize

In [25]:
s.upper()

'MUMBAI TO BANGLORE'

In [26]:
s.lower()

'mumbai to banglore'

In [27]:
s.capitalize()

'Mumbai to banglore'

In [28]:
s1 = s.rjust(25)
s1

'       Mumbai to Banglore'

In [29]:
s2 = s.ljust(30)
s2

'Mumbai to Banglore            '

In [30]:
s3 = s.center(30)
s3

'      Mumbai to Banglore      '

In [31]:
s1.lstrip()

'Mumbai to Banglore'

In [32]:
s2.rstrip()

'Mumbai to Banglore'

In [33]:
s3.strip()

'Mumbai to Banglore'

In [34]:
s.replace("a","#$^**")             # replaces all occurences

'Mumb#$^**i to B#$^**nglore'

In [35]:
help(s.endswith)

Help on built-in function endswith:

endswith(...) method of builtins.str instance
    S.endswith(suffix[, start[, end]]) -> bool

    Return True if S ends with the specified suffix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    suffix can also be a tuple of strings to try.

In [36]:
s.endswith("e")

True

In [37]:
s.endswith("a")

False

In [38]:
s.startswith("M")

True

In [39]:
s.startswith("B")

False

In [40]:
help(s.expandtabs)

Help on built-in function expandtabs:

expandtabs(tabsize=8) method of builtins.str instance
    Return a copy where all tab characters are expanded using spaces.

    If tabsize is not given, a tab size of 8 characters is assumed.

In [41]:
a = "Mumbai\tto\tPune to Goa"
print(a)
a.expandtabs(15)

Mumbai	to	Pune to Goa

'Mumbai         to             Pune to Goa'

In [42]:
help(s.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [43]:
print(s)
print("Length of s = ",len(s))
s.find("lore")

Mumbai to Banglore
Length of s =  18

14

In [44]:
s.find("bai")

3

In [45]:
s.find("Pune")                  # If not found then returns -1

-1

In [46]:
s.index("lore")

14

In [47]:
s.index("bai")

3

In [48]:
s

'Mumbai to Banglore'

In [49]:
s.isalnum()                        # False due to spaces

False

In [50]:
a="Nazira73"
a.isalnum()

True

In [51]:
s.isalpha()

False

In [52]:
a.isalpha()

False

In [53]:
b = "abc"
b.isalpha()

True

In [54]:
"_".join(s)

'M_u_m_b_a_i_ _t_o_ _B_a_n_g_l_o_r_e'

In [55]:
"#".join(["ab","cd","ef"])

'ab#cd#ef'

In [56]:
help(s.partition)

Help on built-in function partition:

partition(sep, /) method of builtins.str instance
    Partition the string into three parts using the given separator.

    This will search for the separator in the string.  If the separator is found,
    returns a 3-tuple containing the part before the separator, the separator
    itself, and the part after it.

    If the separator is not found, returns a 3-tuple containing the original string
    and two empty strings.

In [57]:
s.partition("a")               # divides the string into 3 parts

('Mumb', 'a', 'i to Banglore')

In [58]:
s.split("a")

['Mumb', 'i to B', 'nglore']

In [59]:
bank_acc_no = "235614"
bank_acc_no.zfill(14)

'00000000235614'

# Advanced Datatypes

Can hold multiple values
- List
- Dictionary
- Set
- Tuples

# List

Elements within [ ] seperated by commas.

In [60]:
l = [1,2,-4,"key",True]
type(l)

list

Note: List indexing and slicing is same as string indexing and slicing
- Unlike strings list values are mutable. e.g:

In [61]:
l[1]="!!!"
l

[1, '!!!', -4, 'key', True]

In case multiple assignment, value is then treated as a list with each char as individual element

In [62]:
print(l)
l[2:4]="bipin" 
print(l)

[1, '!!!', -4, 'key', True]
[1, '!!!', 'b', 'i', 'p', 'i', 'n', True]

For a string to be treated as a single word instead of a char list you need to wrap it in a list as shown below

In [63]:
l = [1,2,-4,"key",True]
print(l)
l[2:4]=["bipin"]
print(l)

[1, 2, -4, 'key', True]
[1, 2, 'bipin', True]

# List Methods

- append (inserts new record at the end)

In [64]:
l.append("253")
l

[1, 2, 'bipin', True, '253']

In [65]:
l.append([4,5,6])
l

[1, 2, 'bipin', True, '253', [4, 5, 6]]

- extend (Inserts multiple records at the end)

In [66]:
l.extend("ab")
l

[1, 2, 'bipin', True, '253', [4, 5, 6], 'a', 'b']

In [67]:
l.extend([5,98])
l

[1, 2, 'bipin', True, '253', [4, 5, 6], 'a', 'b', 5, 98]

In [68]:
# Another way to extend is
l + ["fooba"]

[1, 2, 'bipin', True, '253', [4, 5, 6], 'a', 'b', 5, 98, 'fooba']

In [69]:
m = l.extend("gst")
print(m)                          # returns none (inplace methods)
print(l)

None
[1, 2, 'bipin', True, '253', [4, 5, 6], 'a', 'b', 5, 98, 'g', 's', 't']

- insert: Insert elements at specific position

In [70]:
l.insert(1,"Bad")
l

[1, 'Bad', 2, 'bipin', True, '253', [4, 5, 6], 'a', 'b', 5, 98, 'g', 's', 't']

- copy:

In [71]:
# the above problem can be solved using copy
m = l.copy()
m

[1, 'Bad', 2, 'bipin', True, '253', [4, 5, 6], 'a', 'b', 5, 98, 'g', 's', 't']

- count: Counts the number of occurence of a value within the list

In [72]:
l = [123]*5
print(l)

[123, 123, 123, 123, 123]

In [73]:
l.count(123)

5

In [74]:
l.count(1)

0

- index : Gives the index of the first occurence of the value

In [75]:
l = [1,2,-4,"key",True,-4,1,3,2,5,"True"]
print(l)
l.index(-4)

[1, 2, -4, 'key', True, -4, 1, 3, 2, 5, 'True']

2

In [76]:
l.index("True")

10

In [77]:
l.pop(-1)

'True'

In [78]:
l

[1, 2, -4, 'key', True, -4, 1, 3, 2, 5]

In [79]:
l.remove(3)                 # removes the first occurence
l

[1, 2, -4, 'key', True, -4, 1, 2, 5]

In [80]:
l.reverse()
l

[5, 2, 1, -4, True, 'key', -4, 2, 1]

In [81]:
l = [1,2,3,4,5,10,9,8,7,6]
l.sort()
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
l.sort(reverse = True)
l

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

- clear: clears the list

In [83]:
l.clear()
l

[]

# if -else

In [84]:
x=5
if x>10:
    print('x is larger than 10')
else:
    difference=10-x
    print('x is smaller than 10 by '+str(difference)+' units')

x is smaller than 10 by 5 units

 Very importent thing to notice here is how the blocks are defined . Level of indentation that you see here defines which bit of code belongs to if block . once the level of indentation changes block ends. Unlike other languages where code blocks are contained by parenthesis , in python this forced indentation makes the code mroe readable. This way of defining code blocks will remain true throught out this course or else where you use python programming.
 Now what if x was a list rather than a single number, for loop is the solution

# for loops

In [85]:
x=[5,40,12,-10,0,32,4,3,6,72]

for elem in x:
    if elem>10:
        print('elem is larger than 10')
    else:
        difference=10-elem
        print('elem is smaller than 10 by '+str(difference)+' units')

elem is smaller than 10 by 5 units
elem is larger than 10
elem is larger than 10
elem is smaller than 10 by 20 units
elem is smaller than 10 by 10 units
elem is larger than 10
elem is smaller than 10 by 6 units
elem is smaller than 10 by 7 units
elem is smaller than 10 by 4 units
elem is larger than 10

1. You can name your index whatever you want 
2. Value list can be any list , it doesnt have to contain just numbers 
3. Code contained in the body of the for loop will be executed as many times as there are values in the value list

In [86]:
cities = ['Mumbai','London','Bangalore','Pune','Hyderabad']

In [87]:
num_chars=[]

for city in cities :
    num_char=len(city)
    num_chars.append(num_char)
    
num_chars

[6, 6, 9, 4, 9]

# while loop

Lets say we want to write a simple game program which a player can run . This program lets people have simulated dice throws as many times as they want , if sum of their throws exceed 20 within 6 throws they win otherwise they lose

We will be using package numpy and subpackage random to simulate random numbers between 1 to 6

In [88]:
mysum=0
throws=0
import numpy as np 
while mysum<=20:
    throw = np.random.randint(high=7,low=1)
    mysum += throw
    throws +=1
    print(throw)

if throws>6: 
    print('Loss')
else :
    print('Win')
    
print("Number of throws : ",throws)

1
2
4
1
3
3
6
2
Loss
Number of throws :  8

# List Comprehension

List comprehension is a short form a for loop writeen inside a list.

In [89]:
x = [11,12,13,14,15,16,17,18,19,20]
squares=[num**2 for num in x]
squares

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [90]:
even_squares=[num**2 for num in x if num%2==0]
even_squares

[144, 196, 256, 324, 400]

# Dictionaries

Dictionaries are data structures where you can store the data in key:value pair, written within { } separated by commas
There is no concept of index in dictionaries, hence data cannot be accessed with index value rather we will use keys.
Each key in a dictionary should be unique

In [91]:
d= {"actor":"Ranveer","animal":"Bird","Planet":3,"wish_list":["Phone","activa"]}
d

{'actor': 'Ranveer',
 'animal': 'Bird',
 'Planet': 3,
 'wish_list': ['Phone', 'activa']}

In [92]:
d["animal"]

'Bird'

In [93]:
d["fish"]                     # If key doesnt exist then it throws an error

KeyError: 'fish'

In [94]:
# Inserting a new key value pair
d["subject"] = "Maths"
d

{'actor': 'Ranveer',
 'animal': 'Bird',
 'Planet': 3,
 'wish_list': ['Phone', 'activa'],
 'subject': 'Maths'}

In [95]:
# To remove a key value pair
del d['actor']
print(d)

{'animal': 'Bird', 'Planet': 3, 'wish_list': ['Phone', 'activa'], 'subject': 'Maths'}

Next we'll look at how dictionaries behave in a for loop . when you use dictionaries instead of a value list in for loop , keys are the accessed elements

In [96]:
for elem in d:
    print(elem)

animal
Planet
wish_list
subject

you can access values of a dictionary in a for loop by using

In [97]:
for elem in d :
    print(d[elem])

Bird
3
['Phone', 'activa']
Maths

In [98]:
for elem in d:
	print('The %s is' % (elem) ,":",d[elem])

The animal is : Bird
The Planet is : 3
The wish_list is : ['Phone', 'activa']
The subject is : Maths

# Dictionary Methods

In [99]:
d.keys()

dict_keys(['animal', 'Planet', 'wish_list', 'subject'])

In [100]:
d.values()

dict_values(['Bird', 3, ['Phone', 'activa'], 'Maths'])

In [101]:
d.items()                              # can be used for loops using 2 indices

dict_items([('animal', 'Bird'), ('Planet', 3), ('wish_list', ['Phone', 'activa']), ('subject', 'Maths')])

In [102]:
for a,b in d.items():
    print(a,":",b)

animal : Bird
Planet : 3
wish_list : ['Phone', 'activa']
subject : Maths

# Sets

Created using { }, Each value must be non repeated,if repeated then it will occur once

In [103]:
x = {1,2,3,5,6,3,2,1,5}
x

{1, 2, 3, 5, 6}

In [104]:
animals={'meow','bhubu'}
animals

{'bhubu', 'meow'}

we can use in and not in operation here as well just like lists

In [105]:
"bhubu" in animals

True

In [106]:
"dhichu-dhichu" in animals

False

In [107]:
animals.add("Mooooooo")
animals

{'Mooooooo', 'bhubu', 'meow'}

In [108]:
animals.remove("meow")
animals

{'Mooooooo', 'bhubu'}

In [109]:
for animal in animals:
    print(animal)

Mooooooo
bhubu

# Set operations

In [110]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [111]:
a.intersection(b)

{4, 5, 6}

In [112]:
a.issubset(b)

False

In [113]:
a.issubset(c)

True

In [114]:
c.issuperset(b)

True

In [115]:
print(b)
print(a)
b.difference(a)

{4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6}

{7, 8, 9}

In [116]:
print(a)
print(b)
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9}

symmetric_difference will give out elements from both the sets which are not common, consider it to be complement to interesection

# Tuples

Tuples are just like lists , only difference being that in list the elements are immutable.. You can access the elements just like a list , you just cant change them

In [117]:
t=(1,2,3)
type(t)

tuple

In [118]:
t[2]                               # we can access elements of tuple

3

In [119]:
t[2] = 55                         # we cannot change them

TypeError: 'tuple' object does not support item assignment

#     
#      
#

# Writing functions in python

In [120]:
x=[2,3,40,-9,4,8,6,30,21]
x_min=x[0]
x_max=x[0]

for val in x:
    if val<x_min:
        x_min=val
    if val>x_max:
        x_max=val
print("The min val is: ",x_min)
print("The max val is: ",x_max)

The min val is:  -9
The max val is:  40

But everytime i want to do this for a new list, i will have to write entire bit of code all over again

lets see how we can put this block of code inside a function and how to use it later

In [121]:
def find_min_max(my_list):
    x_min=my_list[0]
    x_max=my_list[0]

    for val in my_list:
        if val<x_min:
            x_min=val
        if val>x_max:
            x_max=val
    print("The min val is: ",x_min)
    print("The max val is: ",x_max)

In [122]:
a=[34,5,6,32,45,67,89,2,4,99,23]
find_min_max(a)

The min val is:  2
The max val is:  99

In [123]:
def cube_volume_surfacearea(l,w,h):
    
    volume=l*w*h
    
    surface_area=2*(l*w+w*h+l*h)
    
    return(volume, surface_area)

In [124]:
cube_volume_surfacearea(4,5,8)

(160, 184)

In here if i do not pass value any of the arguments , function will throw an error

In [125]:
cube_volume_surfacearea(5,6)

TypeError: cube_volume_surfacearea() missing 1 required positional argument: 'h'

In [126]:
def cube_volume_surfacearea(l=1,w=1,h=1):
    
    volume=l*w*h
    
    surface_area=2*(l*w+w*h+l*h)
    
    return(volume, surface_area)

In [127]:
cube_volume_surfacearea(5,6,7)

(210, 214)

In [128]:
cube_volume_surfacearea(5,6)

(30, 82)

In [129]:
cube_volume_surfacearea(5)

(5, 22)

In [130]:
cube_volume_surfacearea()

(1, 6)

Note: 
    1. Exact match
    2. Partial match
    3. Positional match

We can have arbitrary number of arguments as well in our functions by defining arguments in a special wa

In [131]:
def test_var_args(farg, *args):
    print ("formal arg:", farg)
    for arg in args:
        print ("another arg:", arg)

test_var_args(1, "two", 3)

formal arg: 1
another arg: two
another arg: 3

Even when you are defining a function capable of handling arbitray number of arguments , you can have arguments with names using **kwargs

In [132]:
def test_var_kwargs(farg, **kwargs):
    print ("formal arg:", farg)
    for key in kwargs:
        print ("another keyword arg: %s: %s" % (key, kwargs[key]))

test_var_kwargs(farg=1, myarg2="two", myarg3=3)

formal arg: 1
another keyword arg: myarg2: two
another keyword arg: myarg3: 3